<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body ng-app="workshop" ng-controller="bindingController">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Bindings!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label for="name">Nombre</label>
        </div>
        <div class="col-sm-3">
            <input type="text" id="name" name="name" ng-model="name" class="form-control" />
        </div>
    </div>
    <hr/>
    <div class="row">
        <div ng-show="name.length > 2" class="col-sm-3 col-sm-offset-2">
            Hola, {{name | uppercase}}!
        </div>
    </div>
    <div ng-repeat="x in items" class="row">
        <div class="col-sm-3">
            {{x}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <button ng-click="sayMyName()" class="btn btn-lg btn-danger">Breaking bad</button>
        </div>
        <div class="col-sm-3">
            <button ng-click="alert()"> Saluda</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label for="num">Un número</label>
        </div>
        <div class="col-sm-3">
            <input type="number" id="num" name="num" ng-model="num" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">Número</div>
        <div class="col-sm-3">{{num | number:3}}</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Moneda</div>
        <div class="col-sm-3">{{num | currency}}</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Fecha</div>
        <div class="col-sm-3">{{'2014-03-02' | date}}</div>
    </div>
</div>
<script src="bower_components/angular/angular.js"></script>
<script src="js/index.js"></script>
<script src="js/bindingController.js"></script>
</body>
</html>
<!--<div class="row">-->
<!--<div class="col-sm-2">-->
<!--<label for="num">Un número</label>-->
<!--</div>-->
<!--<div class="col-sm-3">-->
<!--<input type="number" id="num" name="num" ng-model="num" class="form-control"/>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-sm-2">Número</div>-->
<!--<div class="col-sm-3">{{num | number}}</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-sm-2">Moneda</div>-->
<!--<div class="col-sm-3">{{num | currency}}</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-sm-2">Fecha</div>-->
<!--<div class="col-sm-3">{{'2014-03-02' | date}}</div>-->
<!--</div>-->