<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Página 1</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label for="name">Nombre</label>
        </div>
        <div class="col-sm-4">
            <input type="text" id="name" name="name" ng-model="name" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <button ng-click="next()" class="btn btn-primary">Próxima página >></button>
    </div>
</div>