<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Página 2</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Hola, {{name}}</h3>
        </div>
    </div>
</div>